{% extends "base2.html" %}

{% block main %}

<!-- основная информация -->
<div class="auth-card" id="about">
    <h1>
        Захотел — поделился<br>
        Захотел — лайкнул<br>
        <div style="color: gray; font-size: 15px;">*без цензуры, ограничений и преследований))</div>
    </h1>
    <div class="about-text">
        <p>Радио Свободы - не просто сайт, где каждый может делиться мыслями/треками и тд(хотя каждый может). Наша
            задача дать людям говорить, дать быть услышанными.</p>
    </div>
</div>

<!-- контакты -->
<div class="auth-card" id="contacts">
    <h1>Связь</h1>
    <div class="kontact-us-text">
        <span>Поддержка: <a href="mailto:radio.svobodi532@ya.ru">radio.svobodi532@ya.ru</a></span><br>
        <span>Telegram: <a href="https://t.me/radliber">Радио Свободы</a></span><br>
        <span>Discord: <a href="https://discord.gg/GjpArrmC">Радио Свободы</a></span>
    </div>
</div>

<!-- донаты -->
<div class="auth-card" id="donate">
    <h1>Поддержать нас</h1>
    <div class="help-us-text">
        <p>PayPal: **** **** **** ****</p>
    </div>
</div>


{% endblock %}
